{% extends 'base.html' %}

{% block container %}
<h2 class='center shadow'>Welcome!</h2>
<br>
<p class='center'>Welcome to Professor Bloomberg's DB Design Question Board. You can ask questions about the class' current content here and Professor Bloomberg will go over and answer your question in the next class. 
    <br> <br> If you have any urgent queries about assignments, please reach out to our class tutor, Arun, or class assistant, Aanchal, on Slack.
    <br> <br> If you have any urgent queries regarding grading, please reach out to our class graders, Jaimin or Rugved, on Slack.
    
</p>
{% endblock %}